<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>
		<package name="com.example.demo.vo" />
	</typeAliases>

	<!-- sql 파일이 추가되면.. 요기도 추가.. -->
	<mappers>
		<mapper resource="mapper/Sample_SQL.xml" />
	</mappers>
</configuration>